<div class="common-table-container">
  <div class="common-table-container__search form-group">
    <label for="search-query">Search: </label>
    <input type="text" #searchInput (keyup)="onQuery(searchInput.value)" (keyup.enter)="onQueryEnter(searchInput.value)"  id="search-query" class="form-control"/>
  </div>
  <div class="common-table-container__insert form-group">
    <button type="button" class="btn btn-primary" (click)="onInsertClicked()">Add</button>
  </div>
  <table>
    <tr>
      <th *ngFor="let columnOption of option.columnOptions">{{ columnOption.name }}</th>
    </tr>
    <tr *ngFor="let datum of data">
      <td *ngFor="let columnOption of option.columnOptions" [innerHTML]="formatField(columnOption, datum).content"></td>
    </tr>
  </table>
</div>