<div class="dashboard-container">
  <common-table [data]="customers" [option]="tableOption" (search)="handleSearch($event)" (searchEnter)="handleSearchEnter($event)" (insert)="handleInsertButtonClicked($event)"></common-table>
</div>